@{

}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Andrew and Mary's Wedding</title>
        <link rel="stylesheet" type="text/css" href="/Content/Site.css">
    </head>
    <body>
        <h1 class="maintitle">Andrew & Mary</h1>
        <section id="body">           
            <section id="tba">
                <p><strong>When:</strong> September 8th, 2012</p>
                <p><strong>Ceremony:</strong> Peace Arch Park, US/Canada Border near Blaine, WA and White Rock, BC</p>
                <p><strong>Reception:</strong> Broadway Hall, Bellingham, WA</p>
                <p>More details to come!</p>
                <aside>Do you know what RSS is? Subscribe to our <a href="~/Feed">feed</a> for updates.</aside>
            </section>
        </section>
    </body>
</html>
