<?xml version="1.0" ?>
@{
    Response.ContentType = "application/xml";
}
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0">
    <channel>
        <title>Andrew and Mary's Wedding</title>
        <link>http://maryluffsandrew.us</link>
        <description>Mary and Andrew are getting married! Check here for updates!</description>
        <language>en-us</language>
        <copyright>Copyright 2012 Andrew Nurse and Mary Simpson-Stanton</copyright>
        <generator>By Hand!</generator>
    </channel>
</rss>